*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}

/*Body*/

body{
  background-color: black;
  min-height:  100%; 
 position: relative;
}

/*Navbar*/

.navbar{
  position: relative;
  top: 30px;
  width: 100%;
  z-index: 1;
  background: none;
  border-radius: 0; 
}
.navbar-toggler{
  color: grey !important;
  border-color: grey !important;
}
.navbar-nav .nav-item .nav-link{
  color: whitesmoke !important;
  font-size: 20px !important;  
}
.navbar-nav .nav-item .nav-link:hover{
  color: grey !important;
  border-style: dotted !important;
  border-width: 1.5px !important; 
}
.navbar-nav .nav-item .nav-link:hover:active{
  color:whitesmoke;
  background-color:transparent;
  padding: 2px;
  font-size: 23px;
}

/*Hero*/

.image1{
  position: relative;
  display: block;
  width: 100%;
  height: 50vw;
}
#slide1{
  top: -60px;
  bottom: 0;
}
.hero-sentence {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  font-family: Alfa Slab One;
}  

/*Grid*/

.col-sm-2{
  font-size: 30px;
  font-family: Alfa Slab One;
  text-align: center;
  color: whitesmoke;
}
.col-sm-10{
  color:  grey;
  line-height: 35px; 
}
.row{
  margin-top: 10px;
  margin-bottom: 10px; 
}

/*Cards*/

.img-size{
  width: 100%;
  height: 25vw;
  object-fit: cover;
}
.card{
  background-color: whitesmoke;
  margin-right: 6px;
  margin-left: 6px; 
}

/*Contact Me*/

.contact-me{
  text-align: center;
  justify-content: center;
  align-items: center;
} 
.contact-me ul li{
  display: inline-flex;
  
}
.contact-me ul li a {
  color: whitesmoke;
}
.contact-me ul li a :hover{
  border-style: dotted;
  border-width: 2px;
  border-color: whitesmoke;
}
.contact-me ul li a :active{
  scale: 1.2;
}

/*Footer*/

#footer{
  background-color: grey;
  color: whitesmoke;
  text-align: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}
#footer p{
  font-size: 30px;
  font-family:Alfa Slab One;
  margin-top: 10px; 
}    
  